body {
  font-family: 'Anonymous Pro', 'Source Code Pro', 'Fira Code', 'JetBrains Mono', 'Cascadia Code', Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #111;
  line-height: 1.5;
  background-color: rgb(44, 42, 39);
}

.container {
  padding: 40px;
  gap: 1rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.breadcrumb {
  padding: 10px 40px;
  background: #fff;
  font-size: 0.9rem;
  color: #cdcbcb;
}

.breadcrumb a {
  color: #cdcbcb;
  text-decoration: none;
}

.inicio {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;

}

.search-box {
  background-color: #e4dfdf;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  flex: 1;
  margin-left: 30px
}

.search-box::placeholder {
  font-size: 12px;
}

.materia {
  color: #0ff;
  text-shadow: 1px 0.5px 2px #f115df;
  font-weight: bolder;
}

span {
  color: rgb(50, 223, 223);
  text-shadow: #ffffff;
  font-weight: 600;
}

.card {
  background: #111;
  border: 1px solid #0ff;
  border-radius: 12px;
  padding: 15px;
  margin: 0 0 23px 0;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #0ff;
  cursor: pointer;
}

a, a::before{
  color: #ffffff;           
  text-decoration: none;
}

