@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anonymous Pro', 'Source Code Pro', 'Fira Code', 'JetBrains Mono', 'Cascadia Code', Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    line-height: 1.5;
    background-color: rgb(44, 42, 39);
}

/* LAYOUT */
.container {
    display: flex;
    flex-direction: row;
    margin-top: 14%;
    overflow: hidden;
}

.half {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    text-align: center;
    color: #efe1ec;
    z-index: 5;
    text-shadow: #b15c81;
    font-size: 18px;
    white-space: nowrap;
    overflow:visible;
}

spam {
    color: #f115df;
    text-shadow: #ffffff;
    font-weight:bolder;
}

.profissao{
    color: rgb(50, 223, 223);
}

.materia{
    color: #2b9b3a;
}

/* MÁSCARA */
/*.designer-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(40deg, #efe1ec, #b14f4f, #5d383b, rgb(90, 23, 48), #852929);
    mix-blend-mode: multiply;
    z-index: 1;
    pointer-events: none;
    /* não bloqueia cliques 
}*/

/* 📱 RESPONSIVIDADE */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        /* empilha um embaixo do outro */
        margin-top: 5%;
    }

    .half {
        padding: 40px 20px;
    }

    .half h1 {
        font-size: 1.6em;
    }

    .half p {
        font-size: 1em;
    }

    nav {
        text-align: center;
        /* centraliza menu no mobile */
    }

    nav ul li {
        display: block;
        /* links um embaixo do outro */
        margin: 10px 0;
    }
}